# code: language=jinja
# roles/hosts/templates/hosts.j2
127.0.0.1   localhost

# The following lines are desirable for IPv6 capable hosts
::1         ip6-localhost ip6-loopback
fe00::0     ip6-localnet
ff00::0     ip6-mcastprefix
ff02::1     ip6-allnodes
ff02::2     ip6-allrouters
ff02::3     ip6-allhosts

# Cluster nodes
{% set effective_group = profile if profile in groups else 'nodes' %}
{% for host in groups[effective_group] %}
  {%- set hostname = host %}
  {%- set dns_entries = [host] %}
  {%- if hostvars[host].tailscale.enabled | default(false) %}
    {%- set dns_entries = dns_entries + [hostname ~ "." ~ hostvars[host].tailscale.tailnet] %}
  {%- endif %}
  {%- if network.zones is defined %}
    {%- for zone_name, zone in network.zones.items() if zone.profile == profile %}
      {%- if host in zone.nodes %}
        {%- set ip = zone.nodes[host] %}
        {%- if hostvars[host].network.zones[zone_name].fqdn is defined %}
          {%- set dns_entries = dns_entries + [hostname ~ '.' ~ hostvars[host].network.zones[zone_name].fqdn] %}
        {%- endif %}
{{ ip }}   {{ dns_entries | join(' ') }}{{ '\n' }}
      {%- endif %}
    {%- endfor %}
  {%- endif %}
{% endfor %}

# Extra infrastructure hosts
{% for entry in extra_hosts -%}
  {%- set dns_list = entry.dns %}
  {%- set primary_host = dns_list[0] %}
  {%- set all_dns = dns_list %}
  {%- if hostvars[primary_host] is defined and hostvars[primary_host].tailscale.enabled | default(false) %}
    {%- set all_dns = all_dns + [primary_host ~ "." ~ hostvars[primary_host].tailscale.tailnet] %}
  {%- endif %}
  {%- for zone in network.zones.values() %}
    {%- if primary_host in zone.nodes and zone.fqdn is defined %}
      {%- set all_dns = all_dns + [primary_host ~ '.' ~ zone.fqdn] %}
    {%- endif %}
  {%- endfor %}
{{ entry.ip }}   {{ all_dns | join(' ') }}
{%- endfor %}
