# DevContainer
.devcontainer/.bash_history
.devcontainer/.bashrc
.devcontainer/.netrc
.ansible/
.playground/
hosts.yml
hosts
.DS_Store
host_vars/*
group_vars/*
!group_vars/all.yml
playbooks/overrides/*.yml
!playbooks/overrides/.keep
config/*

# Ignore all __pycache__ folders
__pycache__/
**/__pycache__/
*.pyo
*.pyc
wip/
tmp/
