# DevContainer
.devcontainer/.bash_history
.devcontainer/.bashrc
.devcontainer/.netrc

# Playground
.playground/

# Ansible
.ansible/
hosts.yml
hosts
!hosts/
!playbooks/hosts.yml
!roles/bmc/tasks/hosts.yml
.DS_Store
host_vars/*
group_vars/*
!group_vars/all.yml
playbooks/overrides/*.yml
!playbooks/overrides/.keep
config/*

# Ignore Python Cache
__pycache__/
**/__pycache__/
*.pyo
*.pyc

# Ignore wip/tmp
wip/
tmp/

# Ignore Archives
*.zip
*.tar.gz
*.tar
*.tgz
*.gz
*.bz2
*.xz
*.7z

# Ignore Site.yml
site.yml
!/.config/site.yml

# Ignore Vault
.bootstrap
