#!/bin/bash
set -euo pipefail

ADMIN_KEY_FILE="/etc/tailscale/api.key"
EXPIRY_SECONDS=$(({{ (tailscale.api.admin.expiry | default('90d') | regex_replace('d$', '') | int) }} * 24 * 3600))
TAGS='{{ tailscale.tags | default([]) | flatten | to_json }}'

if [[ ! -f "${ADMIN_KEY_FILE}" ]]; then
  echo "Admin key file not found at ${ADMIN_KEY_FILE}"
  exit 1
fi

ADMIN_KEY=$(cat "${ADMIN_KEY_FILE}")

AUTHKEY=$(curl -s -X POST https://api.tailscale.com/api/v2/tailnet/-/keys \
  -u "${ADMIN_KEY}:" \
  -H "Content-Type: application/json" \
  -d '{
    "capabilities": {
      "devices": {
        "create": {
          "reusable": {{ tailscale.api.device.reusable | default(false) | lower }},
          "ephemeral": {{ tailscale.api.device.ephemeral | default(true) | lower }},
          "tags": '"${TAGS}"'
        }
      }
    },
    "expirySeconds": '"$EXPIRY_SECONDS"'
  }' | jq -r .key)

tailscale up \
  --authkey "${AUTHKEY}" \
  --reset \
  {% if tailscale.ssh | bool %}--ssh{% endif %} \
  {% if tailscale.tags if defined and tailscale.tags is iterable %}--advertise-tags="{{ tailscale.tags | join(',') }}"{% endif %} \
  {% if tailscale.advertise_routes | default(false) %}--advertise-routes="{{ tailscale.advertise_routes | join(',') }}"{% endif %} \
  {% if tailscale.hostname_prefix is defined and tailscale.hostname_prefix != "" %}--hostname "{{ tailscale.hostname_prefix }}-{{ inventory_hostname }}"{% endif %} \
  {% if tailscale.magic_dns | default(false) %}--accept-dns{% endif %} \
  {% if tailscale.accept_routes | default(false) %}--accept-routes{% endif %}
