apiVersion: v1
kind: ConfigMap
metadata:
  namespace: metallb-system
  name: config
data:
  config: |
    address-pools:
    - name: internal
      protocol: layer2
      addresses:
      - {{ k3s.profiles[profile].loadbalancer.range.start }}-{{ k3s.profiles[profile].loadbalancer.range.end }}
