#cloud-config

# User Configuration
users:
  - default
  - name: {{ users.provision }}
    lock_passwd: false
    passwd: "$6$p9zPQA5/WXGxoKdx$yh7CzuS8cP23/nBcsdbjWn/dc8TfhOF57hlziKtDpqJTH2K2me3SBGhEpeFg.X42aUcxT/zW1BbNieKmbcNFo."
    chpasswd: { expire: False }
    gecos: Ansible User
    groups: [adm, audio, cdrom, dialout, dip, floppy, lxd, netdev, plugdev, sudo, video]
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    shell: /bin/bash
    homedir: /home/ansible
    ssh_authorized_keys:
      - {{ lookup('file', '~/.ssh/tpi/{{ prefix }}.ansible.key.pub') }}

chpasswd:
  expire: false

# Set hostname
hostname: {{ inventory_hostname }}

# Timezone
timezone: {{ timezone }}

# Enable password authentication with the SSH daemon
ssh_pwauth: true
