[Unit]
Description=Vault Auto-Unseal
Wants=network-online.target
After=network-online.target
Wants=vault.service
After=vault.service

[Service]
User=root
Group=root
ExecStart=
ExecStart=/usr/bin/vault-unseal --config /etc/vault.d/vault-unseal.yml
