apiVersion: v1
kind: ConfigMap
metadata:
  name: kubevip
  namespace: kube-system
data:
  # Allow multiple IPv4 services to share a VIP
  # When enabled, kube-vip-cloud-provider tries to assign services 
  # to already used VIPs # if the ports of the services do not overlap. 
  # If you want to enable VIP-sharing between services, 
  # you can set allow-share-namespace to true. 
  # It follows the same rules as the configuration for global and namespace pools.
  allow-share-development: "true"
  
  # CIDR-based range which can be used in any Namespace
  range-global: "{{ k3s.profiles[profile].loadbalancer.range.start }}-{{ k3s.profiles[profile].loadbalancer.range.end }}"
