# code: language=jinja
# roles/network/templates/netplan.yaml.j2
{{ ansible_managed | comment }}
network:
  version: 2
  ethernets:
    en-match:
      match:
        name: "en*"
      dhcp4: {{ (not network.static) | string | lower }}
      {% if network.static %}
      {%- set matched = false %}
      {%- for zone_name, zone in network.zones.items() if zone.profile == profile -%}
        {%- if not matched and inventory_hostname in zone.nodes -%}
      addresses:
        - {{ zone.nodes[inventory_hostname] }}/{{ zone.cidr.split('/')[1] }}
      gateway4: {{ zone.gateway }}
      nameservers:
        addresses:
          - {{ zone.dns }}
      mtu: {{ zone.mtu if zone.mtu is defined else network.mtu | default(network.mtu) }}
      {% set matched = true %}
        {% endif %}
      {% endfor %}
      {% endif %}

    eth-match:
      match:
        name: "eth*"
      dhcp4: {{ (not network.static) | string | lower }}
      {% if network.static %}
      {%- set matched = false -%}
      {%- for zone_name, zone in network.zones.items() if zone.profile == profile -%}
        {%- if not matched and inventory_hostname in zone.nodes -%}
      addresses:
        - {{ zone.nodes[inventory_hostname] }}/{{ zone.cidr.split('/')[1] }}
      gateway4: {{ zone.gateway }}
      nameservers:
        addresses:
          - {{ zone.dns }}
      mtu: {{ zone.mtu if zone.mtu is defined else network.mtu | default(network.mtu) }}
      {% set matched = true %}
        {% endif %}
      {% endfor %}
      {% endif %}
