# SPDX-License-Identifier: MIT-0
---
- name: Set Node {{ hostname }}
  ansible.builtin.set_fact:
    node: "{{ hostvars[hostname] }}"

- name: Show Node {{ hostname }}
  tags: [never, debug]
  ansible.builtin.debug:
    var: node

- name: Flash Node {{ hostname }}
  when: flash_node | bool
  block:
    - name: Mark Retry
      ansible.builtin.set_fact:
        retry: "{{ retry | default(0) | int + 1 }}"

    - name: Check BMC Status for {{ hostname }}
      ansible.builtin.include_tasks: tasks/status.yml
      vars:
        host: "{{ hostvars[node.bmc]['ansible_ssh_host'] }}"
        type: bmc

    - name: Check Node Status for {{ hostname }}
      ansible.builtin.include_tasks: tasks/status.yml
      vars:
        host: "{{ hostname }}"
        type: node

    - name: Flashing Node {{ hostname }}
      when: (flash_node | bool and ( (node_status_bmc and not node_status_node)) or flash_force | bool )
      ansible.builtin.include_tasks: tasks/flash.yml
      vars:
        bmc_user: "{{ hostvars[node.bmc]['ansible_ssh_user'] }}"
        bmc_host: "{{ hostvars[node.bmc]['ansible_ssh_host'] }}"
        bmc_pass: "{{ hostvars[node.bmc]['ansible_ssh_pass'] }}"

  rescue:
    - name: Max Retries
      when: retry | int >= 0
      ansible.builtin.fail:
        msg: "Failed to flash node {{ hostname }}"
