# SPDX-License-Identifier: MIT-0
#
# Check host status
- name: Check status for {{ inventory_hostname }}
  delegate_to: localhost
  ansible.builtin.wait_for:
    host: "{{ host }}"
    port: 22
    timeout: 5
  failed_when: false
  register: host_check

- name: Show status for {{ inventory_hostname }}
  tags: [never, debug]
  ansible.builtin.debug:
    var: host_check

- name: Set status for {{ inventory_hostname }}
  ansible.builtin.set_fact:
    node_status_{{ type }}: "{{ not host_check is search('Timeout') | bool }}"
